*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%; height: 100%;
    overflow: hidden;
    background-color: black;
}
#map{
    position: absolute;
    left: 50%; top: 50%;
    background-color: white;
}

.room{
    position: relative;
    width: 50px; height: 50px;
    float: left;
}
.head{
    position: relative;
    width: 50px; height: 50px;
    float: left;
    background-color: red;
}
.body{
    position: relative;
    width: 50px; height: 50px;
    float: left;
    background-color: green;
}
.food{
    position: relative;
    width: 50px; height: 50px;
    float: left;
    background-color:blue;
}
